In [1]:
import neural #neural.py is the coursework1's file

In [2]:
import pandas as pd

In [13]:
data = pd.read_csv("/home/manju838/coding/env/pytorch_env/NN_Classwork/Training CW/Advertising.csv")
data

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [14]:
len(data[:])

200

In [9]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [16]:
data.columns

Index(['Unnamed: 0', 'TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [15]:
data.iloc[0,1]

230.1

In [ ]:
NI.weight_initialiser()
#NI.bias_initialiser()
#print(NI.get_weights()[0],NI.get_bias()[1])
print("Final Output:")
print( NI.output_summation( ( NI.hidden_summation( inputs, NI.get_weights()[0], NI.get_bias()[0] )), NI.get_weights()[1], NI.get_bias()[1] ))
print("---------------")

In [ ]:
inputs = []
for i in range(len(data[:])):
    inputs.append([data.iloc[i,1]], [data.iloc[i,1]], [data.iloc[i,1]]) 

NI = Network_Initialiser(data)